<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Analysis</title>
  </head>

  <body>
        <p>this is <mark><i><u>Data Analysis</u></i></mark> platform</p> 
         <del>300</del>
         <ins>250</ins>
        <p>this is <small>Data Analysis</small> platform</p>  
        <div>
          <p>
            (a+b)<sup>2</sup>
            (a+b)<sub>2</sub>
          </p>
          <p>
            <abbr title="data analysis">dt</abbr>
          </p>
          <h1>h1</h1>
          <h3>h1</h3>
          <h6>h1</h6>
          <pre>
            hello                    this is uchchhash    khan
          </pre>
          <p>welcome to <span style="color: blue">studymart</span></p>
        </div>


  </body>
</html>