<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Knn</title>
  </head>

  <body>
        <table width="500" border="2px" align="center">
          <tr>
            <th> Teacher's Name </th>
            <th> Course </th>
            <th> Class </th>
            <th> Duration </th>
          </tr>
          <tr align="center">
            <td>Uchchhash</td>
            <td>ML</td>
            <td>20</td>
            <td>2.5</td>
          </tr>
          <tr align="center">
            <td>Shamsur</td>
            <td>DL</td>
            <td>20</td>
            <td>2.5</td>
          </tr>
          <tr align="center">
            <td>Khan</td>
            <td>DA</td>
            <td>20</td>
            <td>2.5</td>
          </tr>
          <tr align="center">
            <td>Mohammad</td>
            <td>DJ</td>
            <td>20</td>
            <td>2.5</td>
          </tr>
        </table>
  </body>
</html>